<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
	
<configuration>
	<typeAliases>
		<typeAlias alias="Member" type="com.guestbook.web.vo.Member"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mybatis/mappers/member-mapper.xml"/>
	</mappers>
</configuration>